// BANNER


@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.banner {
  position: relative;
  height: $banner-height-mobile; // 111px mobile
  border-radius: $border-radius-banner-mobile; // 10px
  overflow: hidden;
  margin-bottom: 22px; // Mobile
  
  @include respond-to('desktop') {
    height: $banner-height-desktop;
    border-radius: $border-radius-banner-desktop; // 25px
    margin-bottom: 45px; 
  }
  
  // Image de fond
  &__image {
    @include img-cover;
  }
  
  // Overlay sombre
  &__overlay {
    @include absolute-full;
    background: $overlay-banner;
    display: flex;
    align-items: center; 
    justify-content: flex-start; // Mobile : aligné à gauche
    padding-left: $spacing-lg; // Mobile : 24px
    
    @include respond-to('desktop') {
      justify-content: center; 
      padding-left: 0; 
    }
  }
  
  
  &__text {
    color: $color-white;
    font-size: $font-size-banner-mobile; // 24px mobile
    font-weight: $font-weight-bold;
    text-align: left; // Mobile : aligné à gauche
    
    @include respond-to('desktop') {
      font-size: $font-size-banner-desktop; // 48px
      text-align: center; 
      white-space: nowrap; 
    }
  }
  
  // Break conditionnel (mobile seulement)
  &__break {
    @include respond-to('tablet') {
      display: none; // Caché à partir de 768px
    }
  }
}