// CARD


@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.card {
  position: relative;
  display: block;
  width: 100%; 
  aspect-ratio: 1 / 1; 
  border-radius: $border-radius-card-desktop; 
  overflow: hidden;
  text-decoration: none;
  @include transition(transform);
  
  
  &:hover {
    transform: scale(1.02);
  }
  
  
  &__image {
    @include img-cover;
  }
  
  
  &__gradient {
    @include absolute-full;
    background: $gradient-card;
    pointer-events: none;
  }
  
  
  &__title {
    position: absolute;
    bottom: 15px; // Mobile
    left: 20px;
    right: 20px;
    font-size: $font-size-card-title-desktop; // 18px
    font-weight: $font-weight-bold; // 700
    color: $color-white;
    z-index: 1;
    
    @include respond-to('desktop') {
      bottom: 20px;
    }
  }
}