// RATING

@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.rating {
  display: flex;
  gap: 5px; 
  
  @include respond-to('desktop') {
    gap: 10px; 
  }
}

.rating__star {
  width: 13px; 
  height: 13px;
  
  @include respond-to('desktop') {
    width: 25px; 
    height: 24px;
  }
}